---
const year = new Date().getFullYear();
---

<br>
<hr>
<footer>
    <a href="https://spatialwebdesign.com/" target="_blank">Design by Spatial Webdesign</a>
    <p>&copy; koyu.space {year}. All rights reserved.</p>
</footer>