---
const style = Astro.props.style;
const url = Astro.props.url;
---

<a href={url} class="row" target={url == "/" ? "_self" : "_blank"}  style={`${url == "/" ? "border-bottom:8px solid #fe53e1; " : ""}${style}`}>
    <div class="row-content">
        <slot />
    </div>
</a>