@import "variables";

html {
	font-size: 62.5%;
}

body {
	background: #223;
	box-sizing: content-box;
	color: $nord9;
	font-family: Hack, monospace;
	font-size: 1.3rem;
	line-height: 1.4;
	text-align: left;
	overflow-y: visible;
	padding: 1rem 2rem;
	max-width: 580px;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

h1, h2, h3, h4, h5, h6 {
    color: $nord4;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: normal;
    -webkit-margin-after: 2rem;
    margin-block-end: 2rem;
    -webkit-margin-before: 2rem;
    margin-block-start: 2rem;
}

a {
    color: $nord4;
    text-decoration: none !important;
    border-bottom: 1px dotted;
}

a:hover {
    border-bottom: 1px solid;
}

.header img {
    display: block;
    margin: 0 auto;
    padding: 20px;
    height: 120px;
    width: auto;
}

.header {
    display: block;
    width: 100%;
    margin-top: 50px;
    border: 0;
}

.header:hover {
    border: 0;
}

hr {
    margin: 2rem 0;
    clear: both;
    color: transparent;
    border-color: transparent;
    background-color: transparent;
    border-top: 1px solid $nord3;
}

.center {
    text-align: center;
}