---
import "../scss/index.scss";
import "../fonts/urw-gothic/urw-gothic.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>koyu.space</title>
	</head>
	<body>
		<slot />
	</body>
</html>
